<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Equivalent to @Component -->
<!--    <context:component-scan base-package="org.myo.sandbox"/>-->

    <bean name="speakerService"
          class="org.myo.sandbox.service.SpeakerServiceImpl" autowire="byType">
<!--        <constructor-arg name="repository" ref="repository"/>-->
    </bean>

    <bean name="speakerRepository"
          class="org.myo.sandbox.repository.AnotherSpeakerRepositoryImpl"/>

</beans>